<header>
  <div class="logowrapper">
    <h4 class="logo"><%= link_to "Book App", root_path %></a></h4>
  </div>
  <div class="heading-list">
    <a href="#" class="button">Sign Up</a>
    <%= link_to "Create", new_book_path %>
    <%= link_to "View", root_path %>
    <a href="#">Sign In</a>
  </div>
</header>
